<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_racer.css') }}">
</head>

<body>
<ul>
    <button class="button" onclick="window.location.href='https://codeincomplete.com/games/racer/v1-straight/'">
        <div class="btn-circle"></div>
        <div class="btn-circle"></div>
        <p class="btn-text">Version 1</p>
      </button>
      <button class="button" onclick="window.location.href='https://codeincomplete.com/games/racer/v2-curves/'">
        <div class="btn-circle"></div>
        <div class="btn-circle"></div>
        <p class="btn-text">Version 2</p>
      </button>
      <button class="button" onclick="window.location.href='https://codeincomplete.com/games/racer/v3-hills/'">
        <div class="btn-circle"></div>
        <div class="btn-circle"></div>
        <p class="btn-text">Version 3</p>
      </button>
      <button class="button" onclick="window.location.href='https://codeincomplete.com/games/racer/'">
        <div class="btn-circle"></div>
        <div class="btn-circle"></div>
        <p class="btn-text">Version 4</p>
      </button>
      <button class="button" onclick="window.location.href='/'">
        <div class="btn-circle"></div>
        <div class="btn-circle"></div>
        <p class="btn-text">Trang chủ</p>
      </button>
    </ul>
    

</body>
</html>